<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="icon" type="image/png" href="assets/images/logo.png">
    <link rel="stylesheet" href="conseil.css" />
    <script src="card.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>advise</title>
    <script defer>
      document.addEventListener("DOMContentLoaded", function() {
          const darkModeToggle = document.getElementById('darkModeToggle');
          const body = document.body;

      
          // Check if dark mode is already enabled
          if (localStorage.getItem('darkMode') === 'enabled') {
              body.classList.add('dark-mode');
          }
      
          darkModeToggle.addEventListener('click', function() {
              body.classList.toggle('dark-mode');
              if (body.classList.contains('dark-mode')) {
                  localStorage.setItem('darkMode', 'enabled');
              } else {
                  localStorage.setItem('darkMode', 'disabled');
              }
          });
      });
      </script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <img src="assets/images/logo.png" alt="logo" class="logo" />
        <img src="assets/images/logoText.png" alt="logoText" class="logotext" />
        <img
  src="assets/images/search.png"
  alt="search"
  class="icon icon-searcher"
  id="myButton"
  onclick="performSear()"
/>
<input type="text" id="searchInput" placeholder="Search places" class="search" />
<% if (profileImagePath) { %>
  <img src="<%= profileImagePath %>" id="profile-button" alt="avatar" class="avatar" onclick="window.location.href='/profile';" >
  <% } else { %>
    <img src="assets/images/firefly.jpg" id="profile-button" alt="avatar" class="avatar" onclick="window.location.href='/profile';" />
    <% }%>
      </header>
      <container>
        <div class="left">
          <ul>
            <span>
              <img
                src="assets/images/home.png"
                alt="home"
                class="icon home-icon"
              />
              <li><a href="/home">Home</a></li>
            </span>
            <span class="second">
              <img
                src="assets/images/old-phone_11552945.png"
                alt="discover"
                class="icon discover-icon"
              />
              <li><a href="/help">Numbers & advise</a></li>
            </span>
            <span>
              <img
                src="assets/images/error-sign_76789.png"
                alt="friends"
                class="icon friends-icon"
              />
              <li><a href="/report">Report</a></li>
            </span>
            <span>
              <img
                src="assets/images/saved.png"
                alt="saved"
                class="icon saved-icon"
              />
              <li><a href="/saved">Saved</a></li>
            </span>
          </ul>
          <div class="line1"></div>
          <ul class="ul2">
            <span>
              <img
                src="assets/images/settings.png"
                alt="settings"
                class="icon settings-icon"
              />
              <li><a href="/settings">settings</a></li>
            </span>
            <span>
              <img
                src="assets/images/logout.png"
                alt="logout"
                class="icon logout-icon"
              />
              <li><a href="/logout">Logout</a></li>
            </span>
          </ul>
          <div class="info">
            <a href="usage_condition.html" target="_blank"
              >Terms and services</a
            >
            <a href="securityTerms.html" target="_blank"> Privacy Policy</a>
          </div>
        </div>
        <div class="right">
          <div class="conseil">
            <h1>Tips to Avoid Scams in Morocco</h1>
            <ol>
                <li><strong>Be cautious of offers that seem too good to be true</strong>: If an offer seems too good to be true, it often is. Be skeptical of offers that promise quick gains or extraordinary benefits.</li>
                <li><strong>Check prices</strong>: Do some research to know the usual prices of the goods or services you want to buy. This will help you spot exaggeratedly high or low prices more easily.</li>
                <li><strong>Bargain wisely</strong>: Bargaining is common in Morocco, but that doesn't mean all prices are negotiable. Know when it's appropriate to bargain and when it's better to accept the displayed price.</li>
                <li><strong>Avoid cash transactions when possible</strong>: Prefer credit card payments or bank transfers for significant transactions. This provides a clearer trail and better protection in case of a dispute.</li>
                <li><strong>Be vigilant in tourist areas</strong>: Scams can be more common in places heavily frequented by tourists. Pay extra attention to prices and offers in these locations.</li>
                <li><strong>Research businesses and sellers</strong>: Before dealing with a business or seller, look up online reviews and ask for recommendations from trusted individuals.</li>
                <li><strong>Beware of fake tourist guides</strong>: Some unscrupulous individuals may pose as official tourist guides and lead you to shops where they earn commissions on your purchases. Prefer using reputable travel agencies or ask for reliable recommendations.</li>
                <li><strong>Be aware of common scams</strong>: Educate yourself about frequent scams in Morocco, such as counterfeit banknotes, aggressive sellers, or unreliable tour operators.</li>
            </ol>
            <p>In general, trust your instincts. If something feels suspicious, it's better not to proceed with the transaction.</p>
        
            <h1>Useful Phone Numbers in Morocco</h1>
        
            <ol>
                <li><strong>Police:</strong> In case of an emergency or if you need police assistance, dial <span style="color:red;">19</span>.</li>
                <li><strong>Firefighters:</strong> To report a fire or request the intervention of firefighters, dial <span style="color:red;">15</span>.</li>
                <li><strong>SAMU:</strong> For medical emergencies, including situations requiring an ambulance, dial <span style="color:red;">150</span>.</li>
                <li><strong>Roadside Assistance:</strong> In case of a car breakdown or accident on the road, you can contact the National Highway Emergency Call Center by dialing <span style="color:red;">5050</span>.</li>
                <li><strong>Tourist Assistance:</strong> For help or tourist information, you can contact the Moroccan National Tourist Office at <span style="color:red;">+212 5372-02145</span>.</li>
                <li><strong>Consular Assistance:</strong> If you are a foreign national in need of consular assistance, contact your country's embassy or consulate in Morocco. Contact details may vary depending on your nationality.</li>
                <li><strong>Telephone Information Service:</strong> <span style="color:red;">160</span> is a national general information telephone service.</li>
                <li><strong>Customer Service of Airlines, Hotels, etc.:</strong> If you have problems with a reservation or need assistance, contact the customer service of the airline, hotel, or any other relevant company. Phone numbers may vary depending on the company.</li>
            </ol>
        
            <p>Make sure to verify phone numbers before traveling to Morocco, as they can change and vary by region or company. It is also wise to keep these numbers handy in case of an emergency during your stay.</p>
        </div>
        
      </container>
    </div>
  </body>
  
</html>
